.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
  background: #F0F2F5;
}

.header {
  display: flex;
  justify-content: space-between;
}
.header__text{
  transform: translateX(-10%);
  margin-bottom: 100px;
  display: inline-block;
  order: 1;
}

.textbox{
  order:2;
}
.header__logo{
  height: 200%;
  order: 3;
}

.error {
  color:#db2269;
  font-size: 0.625em;
  display: inline-block;
  margin-bottom: 10px;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}