.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
  background: #343a40;
}

.header__text{
  transform: translateX(-10%);
  margin-bottom: 100px;
  display: inline-block;
}

.header__logo{
  float: right;
  height: 200%;
}

.error {
  color:#db2269;
  font-size: 0.625em;
  display: inline-block;
  margin-bottom: 10px;
}