.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
  background: #343a40;
}

.header{
  display: block;
}
.header__text{
  transform: translateX(-10%);
  margin-bottom: 100px;
  display: inline-block;
}

.header__logo{
  float: right;
  display: block;
  height: 200%;
}